<div class="navbar">
  <a href="/" class='title'>PTO Form</a>
  <!-- for employee -->
  {% if user.is_employee %}
  <a href="{% url 'employee' %}">Request Form Page</a>
  {% endif %}
  <!-- for supervisor -->
  {% if user.is_supervisor %}
  <a href="{% url 'supervisor' %}">Waiting Response</a>
  {% endif %}
  <!-- for <hr> -->
  {% if user.is_hr %}
  <a href="{% url 'hr' %}">Waiting Response</a>
  {% endif %}
  {% if user.is_hr %}
  <a href="{% url 'approved_request_hr' %}">Approved Request</a>
  {% endif %}
  {% if user.is_hr %}
  <a href="{% url 'declined_request_hr' %}">Declined Request</a>
  {% endif %}

  {% if user.is_authenticated %}
  <a href="{% url 'logout' %}">Logout</a>
  {% endif %}
</div>