{% load static %}
<nav class="navbar navbar-expand-sm">
  <a href="/"  class="navbar-brand">PTO FORM</a>
  <!-- PC -->
    <ul class="navbar-nav pc-class"> 
      <!-- for employee --> 
      {% if user.is_employee %}
      <li class="nav-item"><a class="request_form_page" href="{% url 'employee' %}">Request Form Page</a></li>
      {% endif %}
      {% if user.is_employee %}
      <li class="nav-item"><a class="approved_request" href="{% url 'approved_request_employee' %}">Approved Request</a></li>
      {% endif %}
      {% if user.is_employee  %}
      <li class="nav-item"><a class="declined_request" href="{% url 'declined_request_employee' %}">Declined Request</a></li>
      {% endif %}
      <!-- for supervisor -->
      {% if user.is_supervisor %}
      <li class="nav-item"><a class="waiting_response" href="{% url 'supervisor' %}">Waiting Response Page</a></li>
      {% endif %}
      <!-- for <hr> -->
      {% if user.is_hr %}
      <li class="nav-item"><a class="waiting_response" href="{% url 'hr' %}">Waiting Response Page</a></li>
      {% endif %}
      {% if user.is_hr %}
      <li class="nav-item"><a class="approved_request" href="{% url 'approved_request_hr' %}">Approved Request</a></li>
      {% endif %}
      {% if user.is_hr %}
      <li class="nav-item"><a class="declined_request" href="{% url 'declined_request_hr' %}">Declined Request</a></li>
      {% endif %}
      {% if user.is_authenticated %}
      <a class="logout" href="{% url 'logout' %}">Logout</a>
      {% endif %}
    </ul>
  <!-- phone -->
    <button class="hamburger-button"></button>
    <nav class="hamburger-nav navbar-right">
    <ul class="navbar-nav">
      <!-- for employee --> 
      {% if user.is_employee %}
      <li class="nav-item"><a class="request_form_page" href="{% url 'employee' %}">Request Form Page</a></li>
      {% endif %}
      <!-- for supervisor -->
      {% if user.is_supervisor %}
      <li class="nav-item"><a class="waiting_response" href="{% url 'supervisor' %}">Waiting Response Page</a></li>
      {% endif %}
      <!-- for <hr> -->
      {% if user.is_hr %}
      <li class="nav-item"><a class="waiting_response" href="{% url 'hr' %}">Waiting Response Page</a></li>
      {% endif %}
      {% if user.is_hr %}
      <li class="nav-item"><a class="approved_request" href="{% url 'approved_request_hr' %}">Approved Request</a></li>
      {% endif %}
      {% if user.is_hr %}
      <li class="nav-item"><a class="declined_request" href="{% url 'declined_request_hr' %}">Declined Request</a></li>
      {% endif %}
      {% if user.is_authenticated %}
      <a class="logout" href="{% url 'logout' %}">Logout</a>
      {% endif %}
    </ul>
    </nav>
  </div>
</nav>