{% extends 'base.html' %}

{% block main %}
<div class="form w-100 text-center">
  <h2 class="hrpage">Welcome {{ user.get_username }}!</h2>
</div>
<div class="w-75 mx-auto text-center request_detail">
    <h2>PTO Request</h2>
    <p>Request ID: {{ request.id }} </p>
    <p>Employee: {{ request.post_employee }}</p>
    <p>From: {{ request.request_date_from|date:"y/n/j" }}</p>
    <p>To: {{ request.request_date_to|date:"y/n/j" }}</p>
    <p class="break-word">Note: {{ request.note }}</p>
    <a class="btn btn-primary" href="{% url 'approved_request_employee' %}">Back</a>
</div>

{% endblock main %}