{% extends 'base.html' %}

{% block main %}
<div class="form w-100 text-center">
  <h2 class="hrpage">Welcome {{ user.get_username }}!</h2>
</div>
<h3 class="form w-100 text-center approved_reqest_list">Approved Reqest List History</h3>
  {% for request in request_list %}
  <div class="col-lg-3">
    <form action="{% url 'supervisor' %}" method="post" class="form w-100 text-center m-auto">
      <input type="hidden" name="id" value={{ request.id }}>
      <ul class="p-2">
        <li class="request_list m-0">
          <h3>PTO Request</h3>
          <p>Request ID: {{ request.id }} </p>
          <p>Employee: {{ request.post_employee }}</p>
          <p>From: {{ request.request_date_from|date:"y/n/j" }}</p>
          <p>To: {{ request.request_date_to|date:"y/n/j" }}</p>
          <p class="break-word">Note: {{ request.note }}</p>
          <a class="btn btn-primary" href="{% url 'approved_request_hr_detail' request.id %}" >Detail</a>
        </li>
      </ul>
    </form>
  </div>
  {% endfor %}
{% endblock main %}