{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="{% static 'css/hamburger-menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>PTO Form</title>
  </head>
  <body>
    {% include "_navbar.html" %}
    <div class="container">
      <div class="row">
        {% block main %}
        {% endblock %}
      </div>
    </div>
    <!-- {% include "_footer.html" %} -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/flatpickr"></script>
    <script src="{% static 'js/hamburger-menu.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>