{% extends 'base.html' %}

{% block main %}
  <div class="list_of_rquests">
    <h1>Welcome {{ user.get_username }}!</h1>
    <h2>Declined Reqest List</h2>
    {% for request in request_list %}
    <form action="{% url 'supervisor' %}" method="post">
      <input type="hidden" name="id" value={{ request.id }}>
      <li>
        <h2>PTO Request</h2>
        <p>ID: {{ request.id }} </p>
        <p>Employee: {{ request.post_employee }}</p>
        <p>From: {{ request.request_date_from|date:"y/n/j" }}</p>
        <p>To: {{ request.request_date_to|date:"y/n/j" }}</p>
        <p>Note: {{ request.note }}</p>
        <a href="{% url 'declined_request_hr_detail' request.id %}" >Detail</a>
      </li>
    </form>
    {% endfor %}
  </div>
{% endblock main %}